meta(charset="utf-8")
meta(name="X-UA-Compatible" content="IE=edge")
meta(name="baidu-site-verification" content="SuPQ3DDNV0")
meta(name="author", content=theme.author)
title
  block site_title
    = config.title
block description
  meta(name="description", content=config.description ? config.description : 'A Blog Powered By Hexo')

if page.keywords
  meta(name="keywords", content=page.keywords)
else
  meta(name="keywords" content=theme.keywords)

meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black")
meta(name="format-detection" content="telephone=no")

meta(name="og:type" content="website")
meta(name="og:title" content="Minhui's blog")
meta(name="og:image" content="https://zhengminhui.com/images/og-image-256x256.png")
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="https://zhengminhui.com/")
meta(name="twitter:creator" content="@minhui")

meta(name="renderer" content="webkit")
//- meta(name="referrer" content="no-referrer")
link(type="image/png" href="https://zhengminhui.com/images/favicon16.png" rel="icon" size="16x16")
link(type="image/png" href="https://zhengminhui.com/images/favicon32.png" rel="icon" size="32x32")

link(href=url_for('css/style.css'), rel="stylesheet")
link(href=url_for('css/blog_basic.css'), rel="stylesheet")
link(href=url_for('css/font-awesome.min.css'), rel="stylesheet")
link(type="application/atom+xml" href="/atom.xml" title="ATOM 1.0" rel="alternate")

script(src='https://www.googletagmanager.com/gtag/js?id=G-36J5NZ3PJY' async='')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-36J5NZ3PJY');
